/* Error / Exception Style */


body {
    /*background: #fff url('../images/twig-logo.png') no-repeat top right;*/
    font: 14px/1.5em "Helvetica", "Arial", "sans-serif";
    color: #352504;
    /*background: #FFDC68;*/
    background: #eee;
    width: 1000px;
    margin: 2em auto;
}

h1.error-type {
    color:#352504;
    text-align: center;
    font-size: 24px;
    margin: 1em 0;
}

.accessibly-hide {
    position: absolute;
    left: -9999px;
}

.content > div {
    padding: 10px 15px;
}

pre {
    font-family: "Georgia";
}

.accessibly-hidden {
    position: absolute;
    left: -9999px;
}

.content {
    color: #F9E5BD;
    padding: 15px;
    /*background: rgba(238, 238, 238, 0.7);*/
    background: #A7321C;
    -moz-box-shadow: 0 2px 2px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 3px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 2px 2px 3px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 3px rgba(0,0,0,0.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.exception {
    fonts-size: 14px;
    color: #fff;
    /*color: #A7321C;*/
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    /*background: #FFDC68;*/
    border-bottom: 1px dashed #D87E3E;
    margin-bottom: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.exception h1 {
    text-align: center;
    font-size: 30px;
}
.exception h2 {
    background: url('../images/Warning_32x32.png') no-repeat 0 50%;
    padding-left: 42px;
    font-size: 20px;
    line-height: 32px;

}

.exception .error-location {
    font-size: 16px;
    font-weight: bold;
}

.stacktrace {
    background: #9A2D17;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.stacktrace h1 {
    /*background: url('../images/Info_24x24.png') no-repeat 0 50%;*/
    /*padding-left: 34px;*/
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.stacktrace .toggle {
    background: #6688BD;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 10px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.stacktrace ol {
    /*color: #888;*/
}

.stacktrace strong {
    color: #fff;
}

.stacktrace li {
    line-height: 1.75em;
    margin: 0 0 0.5em;
}

.copyright {
    color: #352504;
    font-weight: 500;
    font-size: 14px;
}

.copyright a {
    color: #A7321C;
}